#tituloMenu{
    color: #2262e3;
    margin: 3px;
}


::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 100px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    /* height: var(--header-height); */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -5%;
    width: var(--nav-width);
    height: 100vh;
    background-color: rgb(142, 180, 252);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1.5rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo {
    margin-bottom: 5rem;

}

/* Menu Snacks*/
.seccionSnacks {
    font-size: 25px;


}

.seccionSnacks a {
    text-decoration: none;
    color: black;
}

.seccionSnacks img {
    width: 150px;
    height: 150px;

}

.seccionSnacks img:hover {
    width: 200px;
    height: 200px;

}

.seccionSnacks p{
    display: flex;
    justify-content: center;
}

.seccionGalletasPapasDulces{
    font-size: 25px;
}

.seccionGalletasPapasDulces img{
    width: 150px;
    height: 150px;
}


.imagenes-href {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galletitas p {
    display: flex;
    justify-content: center;
}

.nav_logo-icon {
    font-size: 3rem;
    color: var(--white-color)
}

.nav img {
    width: 60px;
    height: 60px;
}

.fa-solid {
    font-size: 25px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.nav_name {
    display: flex;
    justify-content: center;
    text-decoration: solid;
    font-size: 20px;
}

.nav_logo-name {
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.nav_link {
    position: relative;
    color: black;
    margin-bottom: 1.5rem;
    transition: .3s;
    text-decoration: none;
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem;
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

/* MENU SALUDABLE */
/* #contenedorSaludables{

} */
#imgSaludables{ 
  align-items: center;
  display:flex;
  justify-content: space-evenly;
  background-color: white;
}


#contenedorSaludables img{
    height: 200px;
    width: 200px;
    flex-wrap: wrap;

}
.btnSaludables:hover{
    background-color: rgb(210, 210, 210);
}

#contenedorSaludables img:hover{
    justify-content: space-evenly;
}

#imgSaludables a{
    text-decoration: none;
    color: black;
    
}
#featured-di:hover{
    background-color: lightcyan;
}

.elementoSaludable:hover{
    color: #182c81;
    
}

 /* Menu Principal (Platillo del dia) */
 .carousel-container {
    width: 50%;
    margin: 0 auto;
    position: relative;
    height: 100%;
  }
  
  .carousel {
    display: flex;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    height: 50%;
    width: auto;
    align-content: center;
  }
  
  .slide {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 100%;
    position: relative;
  }
  
  .slide img {
    width: 90%;
    height: auto;
  }
  
  .info {
    height: 25%;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
  }

#contenedorSaludables button{
    display: block;
    align-content: end;
}