/* Bienvenida */

.welcome-body{
    height: auto;
    width: auto;
}

#welcome-section {
    background-color: #0c2340;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 300px;
    height: 300px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c2340;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    margin: var(--header-weight) 0 0 0;
    padding: 0 0rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}