body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #f9f9f9;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  position: relative;
}

nav li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 0;
}

nav ul ul li {
  float: none;
  width: 200px;
}

nav ul ul a {
  padding: 8px 12px;
}

nav li:hover > ul {
  display: block;
}


.logo h1 {
	margin: 0;
}

main {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.featured-dish {
	flex-basis: 60%;
}

.featured-dish img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.featured-dish h2 {
	margin-top: 0;
}

.tomorrow-dish {
	flex-basis: 35%;
	margin-top: 20px;
}

.tomorrow-dish img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.tomorrow-dish h2 {
	margin-top: 0;
}

.dish-name {
	font-weight: bold;
	margin-bottom: 5px;
}

.dish-price {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

@media screen and (max-width: 768px) {
    .menu-icon {
    display: block;
    }
    .navbar {
    flex-direction: column;
    align-items: flex-start;
    }
    .logo h1 {
    margin-bottom: 0;
    }
    .main {
    flex-direction: column;
    }
    .featured-dish,
    .tomorrow-dish {
    flex-basis: 100%;
    }
}

.featured-dish:hover {
	background-color: lightblue;
}